Source: spatialite-gis
Section: science
Priority: optional
Maintainer: Romain Janvier <romain.janvier@hotmail.fr>
Build-Depends: debhelper (>= 9.0.0), autotools-dev, dh-autoreconf,
 libwxbase2.8-dev, libwxgtk2.8-dev, libhpdf-dev, libgeotiff-dev,
 libjpeg8-dev, libtiff5-dev, libspatialite-dev, libpng12-dev,
 libfreexl-dev, libsqlite3-dev, libproj-dev, librasterlite-dev,
 libgeos++-dev, pkg-config   
Standards-Version: 3.9.4
Homepage: https://www.gaia-gis.it/
Vcs-Git: git://github.com/archeos/spatialite-gis-archeos.git
Vcs-Browser: http://github.com/archeos/spatialite-gis-archeos/

Package: spatialite-gis
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Minimalistic GIS build on top of Spatialite and RasterLite
 TODO long description
