#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@  --with autoreconf
	
override_dh_autoreconf:
	touch NEWS README AUTHORS ChangeLog
	dh_autoreconf

override_dh_autoreconf_clean:
	rm -f NEWS README AUTHORS ChangeLog
	dh_autoreconf_clean
